h1{
    color: #b718ec;
    font-size: 40px;
    text-shadow: 5px 5px 2px black;
}

button{
    background-color: #b718ec;
    width: 100px;
    padding: 5px;
    margin-left: 10px;
    border-radius: 5px;
}

h2{
    color: #b718ec;
}

img{
    width: 200px;
    height: 250px;
    margin: 5px;
}

a{
color
}