form{
    background-color: rgb(165, 167, 241);
    width: 50%;
    margin: auto;
    padding: 30px;
    border-radius: 50px;
    color: white;
    box-shadow: 0 0 10px black;

}

legend{
    font-size: 40px;
    text-align: center;
    font-weight: bolder;
}

input[type=text], input[type=email],input[type=password],input[type=date],input[type=tel],input[type=datetime-local],select{

width: 100%;
height: 30px;
border-radius: 5px;
border: none;
margin-top: 10px;
padding-left: 10px;

}

body{
    background-image: url(/assets/background1.jpg);
}

button{
   margin-left: 40%;
   border-radius: 5px;
   width: 100px;
   height: 30px;

}